*{
    font-family: 'Roboto', sans-serif;
}    
#content{
    padding: 1rem;
   
}


 #pokemons{
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;        
    grid-template-columns: repeat(2,1fr);
    
    gap: 1rem;
    
}


#pokemons li{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: .5;
    padding: 1rem;
    border-radius: 10px;
    height: 80px;
    background-color: #14a06f;  
    gap: 15px;
          
         
}
#bulbasaur{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "nome tipo1 tipo2" "pokemon";
}
.tipo1{
    justify-content: end;
}


#pokemons span{
    color:#167755 ;
    font-weight: 600;
    
    
}

.numeracao{
    text-align: right;
    
}
#pokemons p{
    
    color: white;
    position: absolute;
    
    top: -1px;
    padding-bottom: 25px;
}
.status{
    display: grid;
    width: 50px;
    grid-template: 1fr 1fr;
    row-gap: 5px;
   
    
}
.status span{
    background-color: #4bdaa8;
    border-radius: 10px;
    text-align: center;
    
}

#pokemons img{
    position: absolute;
    top:-24px;
    width: 200px;
    left: 30px;

}






