*{
    margin: 0;
    padding: 0;
    font-family:  'Roboto', sans-serif;
}
header{
    
    width:99vw;
    height: 56px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
    
}
#men-left{
    width: 146px;
    height: 24px;
    padding-left: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    
    

}
#logo{
    width: 90px;
    height: 20px;
}
header form{
    justify-items: center;
    justify-self: center;
    
}
#input{
    display: grid;
    grid-template-columns: auto auto;
    


}
header input{
    
    width: 348px;
    height: 40px;
}
header button{
    
    width: 57px;
    height: 40px;
}
#men-rigth{
    width: 130px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    justify-self: end;
    align-self: center;
    
    
}
/*navegação lateral*/
#gird-lat{
   padding:2rem 1rem 0 1rem ;
   display: grid;
   grid-template-rows: auto;
   row-gap: 20px;
   
   
}
#gird-lat img{
    width: 24px;
    
}

.icons-left{
    width: 218px;
    display: grid;
    grid-template-columns: 40px 1fr;
    font-family:  'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    align-items: center;

}
.icons-left p{
   align-self: center;
}
#inicio{
    font-weight: 700;
}
/*parte central*/
main{
    display: flex;
    width: 100vw;
}

#videos{
    width: 100vw;
    padding-top: 40px;
    
    
    
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(4, 350px);
    row-gap: 50px;
    place-items: center;
    justify-items: end;
    
    background-color:#f9f9f9 ;
    
}

.video-todo-cent h1{
    
  
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;



}
.video-todo-cent p{
    
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 3;
    

}
.conteudo-vid{
    width: 249px;
    display: grid;
    grid-template: auto auto/ auto 197px;
}
    