*{
    margin: 0;
    padding: 0;
}
header{
    width: 99vw;
    height: 56px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    
}
#men-left{
    width: 146px;
    height: 24px;
    margin: 1rem 0 0 1rem;
    

}
header form{
    justify-items: center;
    justify-self: center;
}
#men-rigth{
    justify-self: right; 
}
/*navegação lateral*/
#gird-lat{
   display: grid;
   grid-template-rows: auto;
   row-gap: 20px;
   
}
#gird-lat img{
    width: 24px;
    padding-left: 1rem;
}

.icons-left{
    display: grid;
    grid-template-columns: 60px 1fr;
    font-family:  'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}
.icons-left p{
   align-self: center;
}
#inicio{
    font-weight: 700;
}
/*parte central*/

main{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 218px auto;
}
#videos{
    display: grid;
    grid-template:repeat(3, 1fr) / repeat(4, 1fr);

}
