*{
    margin: 0;
    padding: 0;
}
header{
    
    width:99vw;
    height: 56px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    
}
#men-left{
    width: 146px;
    height: 24px;
    padding-left: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    
    

}
#logo{
    width: 90px;
    height: 20px;
}
header form{
    justify-items: center;
    justify-self: center;
    
}
#input{
    display: grid;
    grid-template-columns: auto auto;
    


}
header input{
    
    width: 348px;
    height: 40px;
}
header button{
    
    width: 57px;
    height: 40px;
}
#men-rigth{
    width: 130px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    justify-self: end;
    align-self: center;
    
    
}
/*navegação lateral*/
#gird-lat{
   padding:2rem 1rem 0 1rem ;
   display: grid;
   grid-template-rows: auto;
   row-gap: 20px;
   background-color: white;
   
}
#gird-lat img{
    width: 24px;
    
}

.icons-left{
    display: grid;
    grid-template-columns: 60px 1fr;
    font-family:  'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}
.icons-left p{
   align-self: center;
}
#inicio{
    font-weight: 700;
}
/*parte central*/
main{
    display: flex;
}

#videos{
    width: 99vw;
}
