@charset "utf-8";

*{
    margin: 0;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}
.banner-content{
    background-image: url(assets/images/banner.png), linear-gradient(#020608, #050a0c) ;
    
    height: 605px;
    
}
.banner-content{
    color: white;
    
    
}

.banner-content h1{
    background-color:#33A8DB ;
    background-image: linear-gradient(to top,#33A8DB, #1472B7);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    font-size: 40px;
    font-weight: 900;
    line-height: 46.96px;
    width: 434px;
    height: 47px;
    margin: auto;
    
}
.logo{
    display: block;
    margin: auto;
    width: 268px;
    height: 268px;  
    border-radius: 50%;
    
    background-repeat: no-repeat;
    background-color: rgba(138, 134, 134, 0.5);
    
    

}
.logo > img{
   width: 248px;
   height: 216px;
   
   position: absolute;
   
   top: 17px;
   
    
}
.banner-content h1, p {
   text-align: center;
}
.banner-content button{
    display: block;
    margin: auto;
    background-color: transparent;

    width: 326px;
    height: 57px;
    border: 2px solid blue;
    color: #33A8DB;
    
    
}


