*{
    margin: 0;
    padding: 0;
}
h1{
    padding: 50px;
    text-align: center;
}
#main-section{
    padding: 50px;
    display: flex;
    justify-content: center;
}
#main-section span{
    align-self: center;
    padding: 0 20px;
}
#main-section button img{
    width: 30px;
}