@charset "utf-8";


*{
    margin: 0;
    padding: 0;

}
header{
    display: flex;
    
    width: 99vw;
    height: 56px;
    padding: 0px, 24px, 0px, 24px;
    justify-content: space-between;
    
    

}
#you-men{
    width: 124px;
    height: 24px;
    display: flex;
}

#menu-log-left{
    width: 24px;
    height: 24px;
    position: relative;
    position: relative;
    Top:16px;
    Left:24px;
}
#logo-you img{
    width: 90px;
    height: 20px;
    position: relative;
    Top:18px;
    Left:80px;
    
    padding: 6px, 3px, 6px, 3px;

}
form{
    width: 404px;
    height: 40px;
    
}

.botao {
    
    display: block; 
    margin-bottom:5px ;
       
}
#botao-1{
    
    top: 18px;
    left: 3px;
    border: 2px;
   


}
#botao-2{
    
    top: 6px;
    left: 3px;
    border: 2px;

    
}
#botao-3{
    
    top: 12px;
    left: 3px;
    border: 2px;
    

    
}
form{
    margin-top: 16px;
    display: flex;
}
form input{
    width: 400px;
    height: 40px;
    

}
header button{
   
    width: 57px;
    height: 40px;
    position: relative;   
   
    
}
button img{
    height: 24px;
    height: 24px;
    position: absolute;
    top: 50% ;
    left:50%;
    transform: translate(-50%, -50%);
    
    
    
    
}
#icon-rigth{
    width: 130px;
    height: 34px;
    display: flex;
    justify-content: space-evenly;
}
#icon-rigth img{
    width: 24px;
    height: 24px;
    margin-top: 16px;
    
}

/* parte central */
main{
    display: flex;
    width: 952px;
    height: 746px;
    margin-left: 75px;
    
}
main section div{
    gap: 42px;
}
main > section h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    

}
#channel-info{
    display: flex;
    width: 160px;
    height: 42px;
    gap: 12px;  

}
#channel-info img{
    width: 42px;
    height: 42px;

}
#dio{
    width: 106px;
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;


}
#channel-info  p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}
#channel-info-text{
    display: flex;
    flex-direction: column;
}
#bara-like{
    display: flex;
    
}
main section{
    margin: 20px 28px 5px 0px;
}


#videos-as {
    height: 938px;
    width: 356px;

}
.content{
    display: flex;
    flex-direction: row;
}
.content h1{
    display: inline;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    margin: 5px 0 5px 5px;
    

}
.content p{
    display: inline;   
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    margin: 5px 0 5px 5px;
    

}
.w-videos{
    width: 160px;
}
.text-cont{
    width:text-cont;
}

