.std-div-3 {
   
    padding-top: 0px;
   
    height: 760px;
}

.std-div-4 p {
    width: 81%;
    padding: 0px 0 86px;
}
#contato img {
    width: 179px;
    height: 116px;
    padding-bottom: 72px;
}

#contato {
   
    gap: 80px;
}