

header nav {
    padding-right: 10px;
}

#quem-somos div {
    width: 90%;
}

#quem-somos h2 {
   
    margin-top: 50px;
    
}

#quem-somos {
    
    margin-bottom: 24px;
    height: 642px;
}


.std-div-3 {
    
    height: 740px;
    

}

.renda {
    padding: 29px 0px 0px 10%;
}

#main-nosso-dir {
    gap: 24px;
    
}


.std-div-4 p {
    width: 80%;
    padding: 21px 0 130px;
    font-size: 17px;
}

#contato {
    gap: 21px;
    height: 123px;

    background-size: 100% 57%;
    padding: 0px;
}
.std-div-4 {
    width: 85%;
}

#main-nosso-dir {
    gap: 24px;
    flex-direction: column;
    align-items: center;
    /* width: 99%; */
}
.std-div-4 h2 {
    font-size: 2.05rem;
}


#contato div {
    width: 404px;
    height: 57px;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    top: -40px;
}

