header picture img {
    padding-left: 66px;
}

header nav {
    padding-right: 84px;
}




#quem-somos div {
    width: 45%;
}

#quem-somos div p {
    font-size: 1.3rem;
}

#quem-somos h2 {
    left: -137px;
    top: 25px;
}


.renda {
    padding: 24px 0px 0px 87px;
}


.renda-f-cont {
    
    gap: 24px;
   
}

#third-div1 p {
    line-height: 22px;
    font-size: 1.3rem;
    
}

#third-div2 p {
    line-height: 22px;
    font-size: 1.3rem;
}

.sep-h3 p{

    padding-top: 8px;

}
.nosso {
    padding-left: 66px;
}

.std-div-4 p {
    font-size: 1.5rem;
    width: 89%;
    padding: 12px 0 107px;
    line-height: 25px;
}
#fourth-section {
    margin: 0 0 100px 0;
}
#fourth-section h2{
    padding-top: 62px;
}


#contato {
    
    gap: 7%;
    justify-content: center;
    padding: 18px 0px 44px 241px;

    
}


#contato div {
    width: 46%;
    font-size: 25px;
    top: 22px;
}



#contato img {
    width: auto;
    height: 116px;
    position: relative;
    left: 82px;
    top: 47px;
}


footer aside {
    font-size: 1.2rem;
}


.std-div-3 {
    padding-top: 0px;
    height: 771px;
    
}
#third-section-main-div {
    padding-right: 28px;
    padding-left: 26px;
}


.std-div-4 a img {
    width: 130px;
}