/* first section */
#first-section {
    margin-left: 11px;
}


/* QUem somos  */

#quem-somos{
    background: none;
    flex-direction: column;
    justify-content: flex-start;
}

#quem-somos h2{
    background-image: url("../images/quem\ fundomobile.svg");
    background-size: 35%;
    align-self: flex-start;
    width: 100%;    
    height: 45px;    
    font-size: 15px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0.08em;   
    
}
#quem-somos div{
    align-self: center;
}

/* third section */

.std-div-3 {
    width: 48.7%;
}

/* fourth-section */
.std-div-4 {
    width: 43.5%;
    margin-left: 12px;
}

.std-div-4 p {
    padding: 24px 24px 54px 46px;
}
/* contat#o */

#contato {
    gap: 47px;
    height: 178px;
}

#contato img {
    width: 200px;
    height: 100px;
}
