.std-div-3 {
   
    padding-top: 44px;
   
    height: 950px;
}

.std-div-4 p {
    width: 81%;
    padding: 0px 0 166px;
}
#contato img {
    width: 179px;
    height: 116px;
    padding-bottom: 72px;
}

#contato {
   
    gap: 0px;

}
#contato div{
   
    top: -74px;
    
}


.renda-f-cont {
    
    padding-left: 17px;
}