header picture img {
    padding-left: 35px;
}

header nav {
    padding-right: 52px;
}


#quem-somos h2 {
    width: 40%;
    
}


.std-div-3 {

    width: 49%;
    
}

.renda {
    padding: 24px 0px 0px 46px;
}

.nosso {
    
    padding-left: 38px;
}


.std-div-4 p {
    width: 80%;
    padding: 21px 0 99px;
}