/* header */
header{
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

header span {
  
    font-size: 12px;
    width: 107px

}
/* first section/ */
#img1-first-section {
    width: 25%;
    height: 300px;
}
#img1-first-section img {
    
    width: 150px;
}
#img2-first-section {
    width: 45%;
}
#img2-first-section div {
    font-size: 30px;
    
    line-height: 38px;
    
}

/* third-section */

.std-div-3 {
    width: 45.7%;
}
.renda {
   
    padding: 24px 0px 0px 51px;
}


.renda h2 {
    font-size: 35px;
   
}

.renda-f {
    font-size: 12px;
   
}
.renda-f-cont {
    padding-left: 25px;
   
}

/* Nossos Gestores */
.std-div-4 {
    
    padding-right: 10px;
}
.std-div-4 h2 {
    
    font-size: 30px;
    
}
.std-div-4 p {
    padding: 24px 24px 53px 46px;
    font-size: 14px;
}
.std-div-4 a img {
    width: 80px;
}
#main-nosso-dir {
    
    gap: 10px;
}

/* contato */

#contato img {
    width: 150px;
    height: 75px;
}

#contato div {
    
    font-size: 12px;
    
}

/* footer */

footer aside p {

    font-size: 12px;
}

