/* header */
header{
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

header span {
  
    font-size: 12px;
    width: 107px

}

#quem-somos {
    background-image: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

#quem-somos h2 {
    width: 100vw;
    background-image: url(../images/quem\ fundomobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 108%;
    margin-top: 90px;
    
}
#third-div2 img {
    padding: 0px 24px 0 24px;
    width: 75px;
    height: 77px;
    position: relative;
    /* top: 7px; */
}

.renda-f-mid{
    height: 164px;
}

.std-div-4 h2 {
    
    font-size: 1.75rem;
    
}

.std-div-3 h3{
    font-size: 1.5rem;
}




.std-div-4 h2 {
    padding: 24px 0 0 44px;
    width: 394px;
    height: 31px;
    font-family: "Noto Serif", serif;
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 31px;
    letter-spacing: 0em;
    color: #F4EEE9;
    position: relative;
}


.std-div-4 p {
    width: 77%;
    padding: 21px 0 133px;
}


.renda h2 {
    font-size: 1.813rem;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0.08em;
    color: #54160A;
}
.renda {
    padding: 29px 0px 0px 46px;
}

#first-section {
    
    padding: 150px 0 0px 0;
}





.std-div-3 {
    height: 890px;
    font-size: 1.75rem;
    padding-left: 24px;
}