header picture img {
    padding-left: 66px;
}

header nav {
    padding-right: 84px;
}



#quem-somos div p {
    font-size: 1.2rem;
  
}


.renda {
    padding: 24px 0px 0px 87px;
}


.renda-f-cont {
    
    gap: 24px;
   
}

#third-div1 p {
    line-height: 20px;
}

#third-div2 p {
    line-height: 20px;
}

.sep-h3 p{

    padding-top: 8px;

}
.nosso {
    padding-left: 66px;
}

.std-div-4 p {
    font-size: 1.4rem;
    width: 89%;
    padding: 12px 0 87px;
}
#fourth-section {
    margin: 0 0 100px 0;
}
#fourth-section h2{
    padding-top: 62px;
}


#contato {
    
    gap: 15%;
}

#contato div {
    width: 40%;
   
    font-size: 23px;
   
}


#contato img {
    width: 15%;
    height: 116px;
}

footer aside {
    font-size: 1.2rem;
}


.std-div-3 {
    
    height: 621px;
    
}
#third-section-main-div {
    padding-right: 28px;
    padding-left: 26px;
}


.std-div-4 a img {
    width: 130px;
}