
header picture img {
    padding-left: 43px;
}

header nav {
    
    padding-right: 59px;
   
}

#quem-somos div {
    
    width: 64%;
    
}

#quem-somos div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 64%;
    top: 5px;
}

#quem-somos div p {
    font-size: 1rem;
    
}
.renda {
    
    padding: 24px 0px 0px 56px;
}


.renda-f-top{
    height:70px;
}
.renda-f-mid{

    height: 130px;
}


.std-div-4 p {
    width: 83%;
    
    padding: 20px 0 66px;
    
}

#third-section-main-div {
    
    padding-right: 43px;
    padding-left: 5px;
}

.nosso {
    
    padding-left: 42px;
}