@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

/* #page{
    position: absolute;
} */
html,body{
    overflow-x: hidden;
}

/* Barra Navegação */

header {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px 25px 0px;
    background-color: #F4EEE9B2;
    position: fixed;
    top: 0;
    width: 100vw;
    border-radius: 0px 0px 15px 15px;
    z-index: 1;
}
/* header nav{
    display: grid;
    grid-template: auto/ repeat(4, auto);
    gap: 20px;
    place-content: center;
    padding-right: 45px;
    
    
} */
header picture img {
    padding-left: 50px;
}
header nav {
    display: flex;
    gap: 20px;
    padding-right: 66px;
    align-items: center;
}
header span{
    display: grid;
    grid-template-columns: auto;
    place-content: center;
    width: 135px;
    height: 30px;    
    border-radius: 5px;
    background-color: #2a4172;
    color:rgba(255, 255, 255, 0.719);
    
    font-size: 0.9rem;
    font-weight: 800;
    line-height: 12px;
    letter-spacing: 0.08em;
    text-align: center;  
    z-index: 0;
    
    text-transform:uppercase; 
    
       
}

header span a {
    color:white ;
    text-decoration: none;
}
#cont-mobile{
    display: none;
}

/* Parte central Primeira Seção */

#first-section{
    display: flex;
    justify-content: center;       
    padding: 150px 0 100px 0;
    
}
#img1-first-section{
    background-color: #b6a241;
    background-image: url("../images/ELEMENTOS_RAIZES-1-BEGE\ 1.png");
    background-size: 110%;
    background-repeat: no-repeat;
    width: 36%;
    height: 422px;
    display: flex;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}
#img1-first-section img{
    width: 235px;
    width: 182px;
    
}

#img2-first-section{
   background-image: url(../images/foto-central.jpeg);
   background-size: cover;
   width:57%;
   background-position-y: center;
   
   display: flex;
   justify-content: center;
   
   
}
#img2-first-section div{
   
    
    font-size: 45px;
    font-weight: 600;
    line-height: 49px;
    letter-spacing: 0.08em;
    text-align: left;
    color: white;
    align-self: center;
    text-wrap: wrap;
    

}
#text-img2{
    display: flex;
    flex-direction: column;
   
    width: 492px;
    height: 127px;
}
#text-img2 span{
    text-shadow: 1px 1px black;
}

/* Seção QUem somos */
#quem-somos{
    background-image: url("../images/quem\ fundo.svg");
    background-repeat: no-repeat; 
    background-size: cover; 

    height: fit-content;
    display: flex;
    justify-content: center;
    align-content: center;
    height: fit-content;
    
    
    
}
#quem-somos h2{
    width: 612px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 54px;
    color: #2a4172;
    position: relative;
    top: -59px;
    
    

    

}
#quem-somos div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 55%;
    height: fit-content;
   
    top: 5px;
    
    
    
}
#quem-somos div p{
    
    font-size: 1rem;
    font-weight: 500;
    line-height: 21.4px;
    letter-spacing: 0.05em;
    text-align: left;
    height: auto;
    

}

/* Nossos produtos */
/* #third-section {
    display: flex;
    flex-direction: column;
    height: 700px;
} */
#third-section {
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.nosso{
    
    height: 24px;              
    color: #2A4172;
    padding-left: 47px;
    font-family: "Noto Serif", serif;
}
hr{
    width: 98%;
    border: 1px solid #54160A;
    
}
#third-section h2 span{
    display: flex;
    
    
}

/* #third-section-main-div{
    display: flex;
    justify-content: space-evenly;
    padding-right: 28px;
    
} */
#third-section-main-div {
    display: flex;
    justify-content: space-between;
    padding-right: 48px;
    padding-left: 8px;
}

/* .std-div-3 {
    width: 48%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 40px;
    padding-bottom: 50px;
    
} */

.std-div-3 {
    width: 48%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 40px;
    padding-bottom: 50px;
    height: 760px;
    
}

#third-div1{
    background-image: url(../images/BG-Prod1-certo.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 45%; */
    
    
}
#third-div1 p {    
    
    font-size: 1rem;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    height: fit-content;

}


#third-div1 h3 {    
    
    color: #54160A;;

}
#third-div1 h2{
    align-self: flex-end;
}
#third-div1 img {
    padding: 0 0 0 24px;
    width: 70px;
    height: 90px;
}
#third-div2{
    background-image: url(../images/BG-Prod2-certo.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 45%; */
    
}
#third-div2 h2{
    align-self: flex-end;
}
#third-div2 p {    
    
    font-size: 1rem;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    height: fit-content;

}

#third-div2 h3 {    
    
    color: #54160A;;

}


#third-div2 img {
    padding: 0px 24px 0 24px;
    height: 90px;
}
.renda{
    
    display: flex;
    align-self: baseline;
    padding: 24px 0px 0px 64px;
    
    
}
.renda h2{
    
    font-size: 2.813rem;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0.08em;
    color:  #54160A;

}

.renda-f-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24x 0px 0px 24px;
    width: 80%;
    height: 473px;

}
.renda-f{
    
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color:  #351E04;
    

}

.renda-f-mid{

    height: 120px;
}






/* Nossos gestores */
#fourth-section {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    margin: 0 0 80px 0;
}


.std-div-4{
    width: 44.7%;
    background-color:#351E04 ;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* margin-right: 7px; */
    gap: 28px;

    
    justify-content: space-evenly;
    
    
}
/* .std-div-4 p {
    width: 86%;
    
    height: 136px;
    align-self: center;
    text-align: left;
    color: #F4EEE9;
    font-size: 1rem;
    padding: 2px 0 1px;
    position: relative;
} */

.std-div-4 p {
    width: 86%;
    height: 136px;
    align-self: center;
    text-align: left;
    color: #F4EEE9;
    line-height: 20px;
    font-size: 1.04rem;
    padding: 2px 0 34px;
    position: relative;
}


.std-div-4 h2{
    padding: 24px 0 0 44px;
    width: 394px;
    height: 31px;
    font-family: "Noto Serif", serif;
    font-size: 2.188rem;
    font-weight: 800;
    line-height: 31px;
    letter-spacing: 0em;

    color: #F4EEE9;
    position: relative;
    


}
.std-div-4 a {
    padding: 0px 0 24px 45px;
    margin: 0 0 10px 0;
    /* position: relative; */
}
.std-div-4 a img{
    width: 100px;
}


#main-nosso-dir {
    display: flex;
    justify-content: space-evenly;
    /* gap: 33px; */
    margin-top: 53px;
}



/* contato */

#contato{
    height: 250px;
    background-image: url(../images/Contato.svg); 
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    
    align-items: center;
    padding: 15px 0 0 110px;
    gap: 20px;
    justify-content: center;
    

}
#contato div{
    width: 614px;
    height: 112px;
    
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    top: -40px;
    
    



}
#contato img{
    width: 209px;
    height: 116px;
}

/* footer */
footer aside{
    height: 50px;
    background-color: #2A4172;
    display: flex;
    
    border-radius: 10px 10px 0 0 ;
    color:#E4D6C5;
    justify-content: center;
    
   

}
footer aside p{
    
    
    padding-left: 50px;
    padding-top: 21px;
    align-self: center;
    padding-bottom: 24px;
}









