@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

/* Barra Navegação */

header{
    display: flex;
    justify-content: space-between;
    padding: 25px 50px 25px 50px;
    background-color: #F4EEE9B2;
    position: fixed;
    top: 0;
    width: 95%;
    border-radius: 0px 0px 15px 15px ;
    
}
header nav{
    display: grid;
    grid-template: auto/ repeat(4, auto);
    gap: 20px;
    place-content: center;
    
    
}
header span{
    display: grid;
    grid-template-columns: auto;
    place-content: center;
    width: 110px;
    height: 30px;    
    border-radius: 5px;
    background-color: #2a4172;
    color:rgba(255, 255, 255, 0.719);
    
    font-size: 14px;
    font-weight: 800;
    line-height: 12px;
    letter-spacing: 0.08em;
    text-align: center;  
       
}

header span a {
    color:white ;
    text-decoration: none;
}

/* Parte central Primeira Seção */

#first-section{
    display: flex;
    justify-content: center;
    
    
    
    
    padding: 150px 0 100px 0;
}
#img1-first-section{
    background-color: #b6a241;
    background-image: url("../images/ELEMENTOS_RAIZES-1-BEGE\ 1.png");
    background-size: 110%;
    background-repeat: no-repeat;
    width: 533px;
    height: 422px;
    display: flex;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}
#img1-first-section img{
    width: 235px;
    width: 182px;
    
}

#img2-first-section{
   background-image: url("../images/pexels-marcus-aurelius-6787978\ 1\ \(1\).svg");
   background-size: cover;
   width:716px;
   
   display: flex;
   justify-content: center;
   
   
}
#img2-first-section div{
   
    
    font-size: 45px;
    font-weight: 600;
    line-height: 49px;
    letter-spacing: 0.08em;
    text-align: left;
    color: white;
    align-self: center;
    text-wrap: wrap;
    

}
#text-img2{
    display: flex;
    flex-direction: column;
   
    width: 492px;
    height: 127px;
}
#text-img2 span{
    text-shadow: 1px 1px black;
}

/* Seção QUem somos */
#quem-somos{
    background-image: url("../images/quem\ fundo.svg");
    background-repeat: cover;    
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    /* position: relative; */
    
}
#quem-somos h2{
    width: 612px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 50px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.15em;
    color: #2a4172;
    position: relative;
    top: -59px;
    

    

}
#quem-somos div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 612px;
    position: relative;
    top: 5px;
    
    
}
#quem-somos div p{
    
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-align: left;

}

/* Nossos produtos */
#third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.nosso{
    
    height: 79px;              
    color: #2A4172;
    padding-left: 50px;
}
hr{
    border: 1px solid #54160A;
    
}
#third-section h2 span{
    display: flex;
    
    
}
#third-section-main-div{
    display: flex;
    justify-content: center;
}
.std-div-3{
    width: 650px;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 70px;
    
    
}

#third-div1{
    background-image: url(../images/Produto_BG-movel1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#third-div2{
    background-image: url(../images/Produto_BG-movel1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.renda{
    
    display: flex;
    align-self: baseline;
    padding: 0px 0px 0px 20px;
    position: relative;
    left: 20px;
    
}
.renda h2{
    
    font-size: 45px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0.08em;
    color:  #54160A;

}
.icon-renda{
    width: 67.81px;
    height: 86.75px;
}
.renda-f-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.renda-f{
    
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color:  #351E04;
    

}
.renda-f-cont{
    width: 568px;
    height: 473px;


}

/* Nossos gestores */

.std-div-4{
    width: 612px;
    height: 279px;
    background-color:#351E04 ;
    color: white;
    border-radius: 10px;
    
}
#main-nosso-dir{
    display: flex;
    justify-content: center;
    gap: 25px;
    
}

