


/* QUem somos  */

#quem-somos{
    background: none;
    flex-direction: column;
    justify-content: flex-start;
}

#quem-somos h2{
    background-image: url("../images/quem\ fundomobile.svg");
    background-size: 35%;
    align-self: flex-start;
    width: 100%;    
    height: 45px;    
    font-size: 15px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0.08em;   
    
}
#quem-somos div{
    align-self: center;
}