header {
    
    padding: 3px 0px 25px 0px;
    
}


.std-div-3 {
    height: 707px;
}   

.std-div-4 h2 {
    font-size: 20px;
}

.std-div-4 p {
    width: 70%;
    padding: 2px 0 356px;
    
}


.renda {
    padding: 29px 0px 0px 62px;
}


footer aside p {
    font-size: 14px;
}