
/* header */

header span {
    font-size: 11px;
    width: 101px;
}
header {
    
    padding: 3px 0px 25px 0px;
    
}

/* first-section */
#cont-mobile{
    display: block;
    
    background-color: #B6A241;
    
    display: flex;
    flex-direction: column;
    padding: 19px;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-align: left;
    color: white;
    align-self: center;
    text-wrap: wrap;
    text-shadow: 1px 1px 1px black;
    border-radius: 5px 0 0 0 ;
}
#text-img2{
    display: none;
}

#img1-first-section {
   
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: transparent;
    width: 200px;
    background-size: 100% 100%;
    height: 279px;
   
    
}
#img1-first-section img {
    width: 100px;
    padding: 71px 30px 0 50px;
   
    
   
    
}


/* Quem somos */

#quem-somos div {
    
    padding-left: 24px;
    
}
#quem-somos h2 {
    margin-top: 80px;
    height: 100px;
    font-size: 2.125rem;
    background-size: 100% 154%;
}
#quem-somos{
    
    height: fit-content;
}


/* third-section */

#third-section {
    display: flex;
    flex-direction: column;
    height: auto;
}
.renda h2 {
    font-size: 25px;
    line-height: 25px;
    
}

#third-div2 img {
    top: 11px;
    padding: 0px 24px 0 24px;
    
    position: relative;
}

#third-section-main-div {
   flex-direction: column;
}

.std-div-3 {
    width: 99%;
    height: 700px;
    justify-content: flex-start;
}

.std-div-3 h3{
   font-size: 1.5rem;

}


.renda {
    padding: 29px 0px 0px 77px;
}

#third-div1 p {
    font-size: 1rem;
    
}

#third-div2 p {
    font-size: 1rem;
    
}

/* fourth section */
.std-div-4 h2 {
    font-size: 23px;
}




.std-div-4 p {
    width: 73%;
    padding: 2px 0 279px;
    font-size: 16px;
}





/* contato */




#contato {
    gap: 21px;
    height: 167px;
    padding: 0px;
}
#contato img {
    width: 20%;
    height: 50%;
}

#contato div {
    top: -67px;
}


/* footer */

footer aside p {
    font-size: 14px;

}

