header {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 16px 0px;
    
    
    
    border-radius: 0px 0px 15px 15px;
    
}

header picture img {
    padding-left: 0px;
    width: 100px;
    padding-top: 8px;
}
header nav {
    
    padding-right: 0px;
    align-items: center;
}
header span {
    font-size: 8px;
    width: 74px;
    height: 25px;
}
#first-section {
    
    padding: 91px 0 100px 0;
}

.std-div-4 h2 {
    font-size: 1.5rem;
}

.std-div-4 p {
    width: 76%;
    padding: 0px 0 247px;
    font-size: 17px;
}


.std-div-3 {
    height: 1010px;
}



#contato div {
    width: 404px;
    height: 26px;
    font-size: 12px;
    
    line-height: 14px;
    
    
    gap: 5px;
   
}


footer aside p {
    
    padding-top: 16px;
    font-size: 11px;
}


footer aside {
    height: 33px;
   
}
#contato img {
    width: 20%;
    padding-bottom: 33px;
    height: 56%;
}


#img2-first-section {
    
    justify-content: center;
}

#quem-somos{
    margin-bottom: 226px;
}


#third-section > h2{
    height: 17px;
}


#third-div1 {
    
    align-self: center;
}

#third-div2 {
    
    align-self: center;
}

#contato div {
   /* height: auto; */
   
}
footer aside p {
    padding-left: 0px;
    padding-top: 0px;
    
    padding-bottom: 0px;
    align-self: center;
}