

header nav {
    padding-right: 10px;
}

#quem-somos div {
    width: 90%;
    margin-bottom: 70px;
}

#quem-somos h2 {
   
    
    margin-top: 280px;
    
    
}

#quem-somos {
    
    margin-bottom: 94px;
    height: 642px;
}


.std-div-3 {
    
    height: 890px;
    width: 4;
    

}

.renda {
    padding: 29px 0px 0px 10%;
}

#main-nosso-dir {
    gap: 24px;
    
}


.std-div-4 p {
    width: 80%;
    padding: 21px 0 180px;
    font-size: 17px;
}

#contato {
    gap: 21px;
    height: 123px;
    background-size: 100% 82%;
    padding: 0px 0 49px;
}
.std-div-4 {
    width: 85%;
}

#main-nosso-dir {
    gap: 24px;
    flex-direction: column;
    align-items: center;
    /* width: 99%; */
}
.std-div-4 h2 {
    font-size: 2.05rem;
}


#contato div {
    width: 404px;
    height: 57px;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    top: -40px;
}
#third-section-main-div {
    align-items: center;
}

#contato img {
    width: 23%;
    height: 52%;
    padding-top: 88px;
}


#third-section > h2{
    height: 20px;
}