header picture img {
    padding-left: 58px;
    
}

header nav {
    
    
    padding-right: 75px;
    
}

#quem-somos div {
    
    width: 40%;
    
}

.renda {
    
    padding: 24px 0px 0px 76px;
}

#third-div1 p {
    font-size: 1.1rem;
    
}

#third-div2 p {
    font-size: 1.1rem;
    
}


.nosso {
    
    padding-left: 58px;
}

.std-div-4 p {
    width: 87%;
    
}


#third-section-main-div {
    
    padding-right: 0px;
}



.std-div-4 p {
    
    font-size: 1.1rem;
    
}



footer aside {
    
    font-size: 1.1rem;
}