#quem-somos {
    margin-bottom: 46px;
}


.std-div-3 {
    
    height: 750px;
    

}

.std-div-4 p {
    width: 78%;
    padding: 21px 0 157px;
    font-size: 17px;
}





.std-div-4 h2 {
    font-size: 2rem;
}