
header picture img {
    padding-left: 43px;
}

header nav {
    
    padding-right: 59px;
   
}


.renda {
    
    padding: 24px 0px 0px 56px;
}


.renda-f-top{
    height:70px;
}
.renda-f-mid{

    height: 130px;
}


.std-div-4 p {
    width: 83%;
    
    padding: 20px 0 46px;
    
}