header picture img {
    padding-left: 58px;
    
}

header nav {
    
    
    padding-right: 75px;
    
}

#quem-somos div {
    
    width: 47%;
    
}

#quem-somos{
    margin-bottom: 44px;
    background-size: 100% 138%;
}

#quem-somos div p {
    
    line-height: 25px;
}


.renda {
    
    padding: 24px 0px 0px 76px;
}

#third-div1 p {
    font-size: 1.1rem;
    line-height: 22px;
    
}

#third-div2 p {
    font-size: 1.1rem;
    line-height: 22px;
    
}



#third-section-main-div {
    padding-right: 58px;
    padding-left: 19px;
}
#quem-somos div p {
    font-size: 1rem;
   
}


.nosso {
    
    padding-left: 58px;
}

.std-div-4 p {
    width: 87%;
    font-size: 1.1rem;
    padding: 1px 0 1px;
    font-size: 1.1rem;
    padding: 0px 0 24px;
    
}

.std-div-3{
    padding-top: 0px;
}









footer aside {
    
    font-size: 1.1rem;
}