*{
    margin: 0;
    padding: 0;
    
    
}

header{
    color: white;
    
    height: 505px;
    background-image:url("../images/Header Background.svg");
    background-size: cover;
    background-position: 72% 50% ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header h1{
    font-family: 'Luckiest Guy', cursive;
    width: 278px;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 0 25px 0;

}
header p{
    font-family: 'Open Sans', sans-serif;
    width: 381px;
    height: 132px;
    padding: 0 0 20px 0;

}
#btn-header{
   display: flex; 
   flex-direction: column;
   width:381px;
   height:122px;
   gap: 16px
   

}
header button{
    width: 381px;
    height: 54px;
    border-radius: 28px;
    border: none;
    cursor: pointer;

}   
#preto{
    color: white;
    background-color: black;
}
#first-section{
   
   height:543px ;
   display: flex;
   flex-direction: column;
   padding: 30px  24px 0 24px;
   gap: 27px;
   align-items: center;
   
}
#first-section img{
    width: 379px;
    height: 252px;
    
}
#first-section h2{
    width: 370px;
    height: 99px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;


}

#first-section p{
    width: 378px;
    height: 88px;
    font-weight: 400;
    line-height: 21.9px;
    font-family: 'Open Sans', sans-serif;

}
#second-section{
    
    height:480px ;
    display: flex;
    flex-direction: column;
    padding: 30px  24px 0 24px;
    /* gap: 17px; */
   
    background: #F6F6F6;
    align-items: center;
    


}
#second-section img{
    width: 379px;
    height: 252px;
    
}
#second-section h2{
    width: 370px;
    height: 99px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    justify-content: end;


}

#second-section p{
    width: 378px;
    height: 88px;
    font-weight: 400;
    line-height: 21.9px;
    font-family: 'Open Sans', sans-serif;

}
#third-section{
    
    height:480px ;
    display: flex;
    flex-direction: column;
    padding: 30px  24px 0 24px;
    gap: 24px;
    align-items: center;
   
   
    
    
    


}
#third-section img{
    width: 379px;
    height: 252px;
    
}
#third-section h2{
    width: 370px;
    height: 33px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0em;
    
    


}

#third-section p{
    width: 378px;
    height: 88px;
    font-weight: 400;
    line-height: 21.9px;
    font-family: 'Open Sans', sans-serif;

}
#fourth-section{
    
    height:480px ;
    display: flex;
    flex-direction: column;
    padding: 30px  24px 0 24px;
    
    align-items: center;
    background: #F6F6F6;
    
   
   
    
    
    


}
#fourth-section img{
    width: 379px;
    height: 252px;
    
    
}
#fourth-section h2{
    width: 370px;
    height: 33px;
    font-family: 'Luckiest Guy', cursive;
    
    
    line-height: 33px;
    letter-spacing: 0em;

    
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom:55px ;

    
    


}

#fourth-section p{
    width: 378px;
    height: 88px;
    font-weight: 400;
    line-height: 21.9px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom:55px ;

}
footer{
    background-color: #23272a;
    height: 134px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
   
    
}
footer div {
    

    
    
   
}
@media screen and (min-width:616px) {
    
}